#################################
# OS / Editor
#################################
.DS_Store
*.swp
*.swo
*.tmp

#################################
# R / Python / Conda
#################################
.Rhistory
.RData
.Rproj.user/
__pycache__/
*.pyc
.env
.venv/
renv/library/
renv/python/
renv/staging/


#################################
# Large & non-code artifacts
#################################
*.tar.gz
*.rds
*.bam
*.bai
*.vcf
*.RData
data/



#################################
# Figures & results (default ignore)
#################################
figures/
plots/
results/
output/
reports/
data/
analysis/
docs/

#################################
#if you have some approved exceptions, list them here
#################################
*.pdf
!manuscript_pdfs/*.pdf
#################################
#if you have some approved exceptions, list them here
#################################

!results/*.pdf
comethyl_output/
reproducibility/pixi/.blockConsModsCache*
